<!DOCTYPE html>
<html>
<head>
    <title>Teste de Funções</title>
</head>
<body>
<h2>Inserir Agendamento</h2>
    <form method="post" action="{% url 'inserir_agendamento' %}">
        {% csrf_token %}
        <label>Cliente:</label>
        <input type="text" name="cliente"><br><br>
        <label>Barbeiro:</label>
        <input type="text" name="barbeiro"><br><br>
        <label>ID de Serviço(1-Corte, 2-Barba):</label>
        <input type="text" name="servico"><br><br>
        <label>Data:</label>
        <input type="date" name="data"><br><br>
        <label>Horário:</label>
        <input type="time" name="horario"><br><br>
        <input type="submit" value="Inserir Agendamento">
    </form>
</body>
</html>