<!DOCTYPE html>
<html>
<head>
    <title>Teste de Funções</title>
</head>
<body>
    <h2>Remover Agendamento</h2>
    <form method="post" action="{% url 'remover_agendamento' %}">
    {% csrf_token %}
    <label>ID do Cliente:</label>
    <input type="text" name="cliente_id"><br><br>
    <input type="submit" value="Buscar Agendamentos">
</form>

{% if agendamentos %}
    <h2>Agendamentos do Cliente</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Serviço</th>
        </tr>
        {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.id }}</td>
                <td>{{ agendamento.data }}</td>
                <td>{{ agendamento.hora }}</td>
                <td>{{ agendamento.idservicos.nome }}</td>
                <td>
                    <form method="post" action="{% url 'remover_agendamento' %}">
                        {% csrf_token %}
                        <input type="hidden" name="agendamento_id" value="{{ agendamento.id }}">
                        <input type="submit" value="Remover">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>