<!-- teste.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Teste de Funções</title>
</head>
<body>
    <h1>Teste de Funções</h1>

    <!-- Teste de inserir agendamento -->
    <h2>Inserir Agendamento</h2>
    <form method="post" action="{% url 'inserir_agendamento' %}">
        {% csrf_token %}
        <label>Cliente:</label>
        <input type="text" name="cliente"><br><br>
        <label>Barbeiro:</label>
        <input type="text" name="barbeiro"><br><br>
        <label>ID de Serviço(1-Corte, 2-Barba):</label>
        <input type="text" name="servico"><br><br>
        <label>Data:</label>
        <input type="date" name="data"><br><br>
        <label>Horário:</label>
        <input type="time" name="horario"><br><br>
        <input type="submit" value="Inserir Agendamento">
    </form>

    <!-- Teste de remover agendamento -->
    <h2>Remover Agendamento</h2>
    <form method="post" action="{% url 'remover_agendamento' %}">
        {% csrf_token %}
        <label>ID do Agendamento:</label>
        <input type="text" name="agendamento_id"><br><br>
        <label>Cliente:</label>
        <input type="text" name="cliente"><br><br>
        <input type="submit" value="Remover Agendamento">
    </form>

    <!-- Teste de atualizar agendamento -->
    <h2>Atualizar Agendamento</h2>
    <form method="post" action="{% url 'atualizar_agendamento' %}">
        {% csrf_token %}
        <label>ID do Cliente:</label>
        <input type="text" name="cliente_id"><br><br>
        <input type="submit" value="Buscar Agendamentos">
    </form>

    {% if agendamentos %}
    <h2>Agendamentos do Cliente</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Hora</th>
            <th>IDServico</th>
        </tr>
        {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.id }}</td>
                <td>{{ agendamento.data }}</td>
                <td>{{ agendamento.hora }}</td>
                <td>{{ agendamento.idservicos }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        Cliente: <input type="text" name="cliente"><br>
        Novo Serviço (ID): <input type="number" name="servico"><br>
        Nova Data: <input type="date" name="data"><br>
        Novo Horário: <input type="time" name="hora"><br>
    <button type="submit">Atualizar</button>
    </form>

</body>
</html>