<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if messages %}
        <ul style="color: green;">  <!-- ou outra cor para mensagens de sucesso -->
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Bem-vindo, {{ tipo }} {{ nome }}!</h1>

    <ul>
        {% for acao in acoes %}
            {% if acao == 'Editar Perfil' %}
                <li><a href="{% url 'editar_perfil' %}" class="btn">Editar Perfil</a></li>
            {% elif acao == 'Apagar Perfil' %}
                <li><a href="{% url 'deletar_perfil' %}" class="btn">Apagar Perfil</a></li>
            {% elif acao == 'Cadastrar Local' %}
                <li><a href="{% url 'cadastro_local' %}" class="btn">Cadastrar Local</a></li>
            {% elif acao == 'Ver Local' %}
                <li><a href="{% url 'ver_local' %}" class="btn">Ver Local</a></li>
            {% else %}
                <li>{{ acao }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>